<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('----')" />
</head>
<body class="gray-bg">

<div class="container-div ui-layout-center">
	<div class="row">
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
	</div>
</div>

<th:block th:include="include :: footer" />
<th:block th:include="include :: select2-css" />

<script type="text/javascript">

	$(function() {
		var panehHidden = false;
		if ($(this).width() < 769) {
			panehHidden = true;
		}
		$('body').layout({ initClosed: panehHidden, west__size: 185 });
		queryCourseList();
	});

	function queryCourseList() {
		var options = {
			columns: [
				{
					field: 'courseId',
					// title: '课程图片'
				},
				{
					field: 'courseImage',
					// title: '课程图片'
				},
				{
					field: 'createTime',
					// title: '创建时间'
				},
				{
					field: 'courseName',
					// title: '课程名称'
				},
				{
					field: 'courseIntroduction',
					// title: '课程简介'
				}]
		};
		$.table.init(options);
	}
</script>
<tr th:each="course : ${course}">
	<td th:text="${course.courseId}"></td>
</tr>
</body>
</html>